{% load static %}
<html lang="ko">
<head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href={% static 'assets/css/sample.css' %}>
</head>
<body class="">
{% csrf_token %}
<div id="page-wrapper">
    <header id="header">
        <h1><a href="/content">BIT_Project</a> Joo&Lim_Image_Analysis</h1>
        <nav id="nav">
            <ul>
                <li style="white-space: nowrap;"><a href="/content">Home</a></li>
                <li class="opener" style="user-select: none; cursor: pointer; white-space: nowrap;">
                    <a href="#" class="icon solid fa-angle-down">Layouts ∨</a>
                    <ul class="" style="user-select: none; display: none; position: absolute;">
                        <li style="white-space: nowrap;"><a href="/board_list" style="display: block;">Board</a></li>
                        <li style="white-space: nowrap;"><a href="/Realtimegraph" style="display: block;">Real-time
                            graph</a></li>
                        <li style="white-space: nowrap;"><a href="/Realtimemap" style="display: block;">Real-time
                            Map</a>
                        <li style="white-space: nowrap;"><a href="/imageanalysis" style="display: block;">Image
                            Analysis</a>
                        <li style="white-space: nowrap;"><a href="/contact" style="display: block;">Contact</a>
                        </li>
                        <li class="opener" style="user-select: none; cursor: pointer; white-space: nowrap;">
                            <a href="#" style="display: block;">Add</a>
                            <ul class="dropotron" style="user-select: none; display: none; position: absolute;">
                                <li style="white-space: nowrap;"><a href="/login" style="display: block;">Login</a></li>
                                <li style="white-space: nowrap;"><a href="/logout" style="display: block;">Logout</a>
                                </li>
                                <li style="white-space: nowrap;"><a href="/sample" style="display: block;">Sample_ImageAnaysis</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li style="white-space: nowrap; text-align-all:center;"><a href="/logout" class="button">{{ email }}</a>
                </li>

            </ul>
        </nav>
    </header>

    <!-- Main -->
    <section id="main" class="container">

    </section>
</div>
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/jquery.dropotron.min.js"></script>
<script src="/static/assets/js/jquery.scrollex.min.js"></script>
<script src="/static/assets/js/breakpoints.min.js"></script>
<script src="/static/assets/js/util.js"></script>
<script src="/static/assets/js/main.js"></script>
{% block extra_js %}{% endblock %}
{% block content %}{% endblock %}
</body>
</html>


